<h1>DeltaCrypto</h1>
<p>Welcome!</p>
<ul>
  <li><a href='https://min-api.cryptocompare.com/'>Using the powerful CryptoCompare API</a>, DeltaCrypto seeks to provide market information to be used in educational speculation. </li>
</ul>
<p>To help you get started, we've set up:</p>
<ul>
  <li><strong>Cryptocurrency market information.</strong> View this and experiment on the Fetch Data page.</li>
  <li><strong>Educational speculation.</strong> Apply your theories and save your speculations using the DeltaCrypto API.</li>
</ul>
