<h1>Welcome to DeltaCrypto!</h1>
<p>We're here to support you in your trading endeavours.</p>
<ul>
  <li><a href='https://min-api.cryptocompare.com/'>Using the powerful CryptoCompare API</a>, DeltaCrypto seeks to
    provide market information to be used in educational speculation. </li>
</ul>
<p>To help you get started, we've set up:</p>
<ul>
  <li><strong>Cryptocurrency market information.</strong> Observe the market on the Market-page.</li>
  <li><strong>Educational speculation.</strong> Apply your theories and save your speculations using the DeltaCrypto
    API.</li>
</ul>
