<h2>Place a Sell Order</h2>
<p>Use the elements below to create a sell order by picking a crypto asset, quantity, and target price boundaries per unit.</p>
<br>
<form>
  1. Choose an Asset to sell:<br>
  <select id="dAssetSelect" [(ngModel)]="dAssetPick" name="dCryptoSOList">
    <option *ngFor="let dassets of dAryptos" [value]="dassets.Type">{{dassets.Type}}</option>
  </select><br>
  2. Set a quantity to list:<br>
  <input type="number" name="dCQuantity" [(ngModel)]="dCSQuantity"><br>
  3. Confirm the lower and upper target boundaries:<br>
  <input type="number" name="dcSellTargetLower" [(ngModel)]="dCSellTargetLower"><br>
  <input type="number" name="dcSellTargetUpper" [(ngModel)]="dCSellTargetUpper"><br>
  4. Submit your sell order.<br>
  <input type="submit" value="Place Sell Order">
</form>
