<h2>JOHNDOE's Listed SellOrders</h2>
<br>
<table class="table table-sellorders">
  <thead>
    <tr>
      <th class="place">Index:</th>
      <th class="type">Coin:</th>
      <th class="price">Current Price/Each:</th>
      <th class="quantity">Quantity Requested:</th>
      <th class="sell-target-lower">Lower Sell Boundary:</th>
      <th class="sell-target-upper">Upper Sell Boundary:</th>
      <th class="sellOrder-value">Total SellOrder Value</th>
      <th class="date-placed">Placed on:</th>
      <th class="actions">Actions:</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let crypto of objectKeys(cryptos.Data)">
      <td class="index"></td>
      <td class="type"></td>
      <td class="price"></td>
      <td class="quantity"></td>
      <td class="sell-target-lower"></td>
      <td class="sell-target-upper"></td>
      <td class="sellOrder-value"></td>
      <td class="date-placed"></td>
      <td class="actions"><button>CANCEL</button></td>
    </tr>
  </tbody>
</table>